<div class="content-area">
	<p>
		Copyright &copy; {{now "YYYY"}} Umbra Engineering LLC<br />
		Powered by <a href="http://www.nodejs.org">Node.js</a> and <a href="http://www.cloakjs.com">Cloak.js</a>.
		Hosted on <a href="http://www.heroku.com">Heroku</a>.
	</p>
	<div class="social">
		<a href="http://www.facebook.com/UmbraEngineering" rel="external">
			<img src="/images/facebook.png" width="32" height="32" alt="Find us on Facebook" title="" />
		</a>
		<a href="http://www.linkedin.com/company/umbra-engineering" rel="external">
			<img src="/images/linkedin.png" width="32" height="32" alt="Find us on LinkedIn" title="" />
		</a>
	</div>
</div>