<h2 class="title">Open Source</h2>
<p>
	At Umbra Engineering, we have developed a great many open source modules and libraries. We try to be an active participant in
	the open source community. We keep this open source work up on our {{#a "github" "UmbraEngineering"}}GitHub account{{/a}}.
	If you look through our repository list, you will see a lot of Node.js modules as well as a good number of client-side JavaScript
	libraries. Everything from an {{#a "github" "UmbraEngineering/promise"}}A+ compliant Promise polyfill{{/a}} to basic utility modules
	for {{#a "github" "UmbraEngineering/json-file"}}reading and writing JSON files{{/a}} and {{#a "github" "UmbraEngineering/command"}}
	running shell commands{{/a}}.
</p>
<p>
	In addition to the many small open source projects we have released, we have also worked on some bigger scope ones as well, including
	the sister frameworks <a href="http://www.cloakjs.com">Cloak</a> and <a href="http://www.daggerjs.com">Dagger</a>. Cloak is a highly
	modular client-side MVC, and Dagger is node.js API framework. While they are designed to work together and function as a pair, they
	are also completely capable of being used separately. In fact, this website is built using Cloak.
</p>