<div class="content-section">
	<div class="row">
		<h3>Open Source</h3>
		<p>
			Here at Umbra Engineering, we develop a number of open source works which can be found on our
			<a href="https://github.com/UmbraEngineering">GitHub</a> profile.
		</p>
	</div>
</div>
