
html, body {
	background: url('../images/background.jpg');
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.row {
	width: 100%;
}

img {
	display: inline-block;
	vertical-align: middle;
}

img.responsive {
	width: 100%;
	height: auto;
}

p {
	font-family: inherit;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1.25em;
	text-rendering: optimizeLegibility;
}





/*  ==  Header  ==  */

#header {
	width: 100%;
	height: 105px;
	background: url('../images/header-background.png');
	position: relative;
}
	
	#logo {
		margin: 11px;
	}

	#header-text {
		/**/
	}

	#header-slogan {
		/**/
	}





/*  ==  Navigation  ==  */

#navigation {
	position: absolute;
	top: 75px;
	left: 185px;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 500;
}
	
	#navigation a {
		color: #1751A3;
		font-weight: bold;
		font-size: 13px;
	}
	
	#navigation > li {
		display: inline-block;
	}

		.lt-ie9 #navigation > li {
			padding: 0 1px;
		}

		#navigation > li > a {
			display: block;
			padding: 0 10px;
			height: 25px;
		}

			#navigation a:hover,
			#navigation a.selected,
			#navigation > li:hover > a {
				background: #9a9a9a;
				background: linear-gradient(to bottom, #9a9a9a 0%, #f2f2f2 100%);
				background: linear-gradient(top, #9a9a9a 0%, #f2f2f2 100%);
			}

		#navigation ul {
			position: absolute;
			top: 25px;
			left: 0;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;
			background: #fff;
			display: none;
		}

			#navigation li:hover ul {
				display: block;
			}

			#navigation ul li {
				display: block;
				margin: 5px 0;
				padding: 0 2px;
				float: left;
				border-right: 1px #ccc solid;
			}

			#navigation ul li:last-of-type {
				border: 0;
			}

				#navigation ul a {
					display: block;
					padding: 5px 10px;
					text-align: center;
					font-size: 13px;
				}





/*  ==  Side Navigation  ==  */

.sidenav {
	padding: 0;
	float: left;
}
	
	.sidenav > div {
		display: inline-block;
		border: 1px #ccc solid;
		background: #f2f2f2;
		background: rgba(230,230,230,0.4);
		min-height: 400px;
		padding: 10px;
	}
	
		.sidenav h2 {
			font-size: 20px;
		}
		
		.sidenav a {
			display: block;
			color: #1751A3;
			font-size: smaller;
			font-weight: bold;
			padding: 5px 10px;
		}

			.sidenav a:hover,
			.sidenav a.selected {
				background: #9a9a9a;
				background: linear-gradient(to bottom, #9a9a9a 0%, #f2f2f2 100%);
				background: linear-gradient(top, #9a9a9a 0%, #f2f2f2 100%);
			}
		
		.sidenav > div > ul {
			list-style: none;
		}

			.sidenav ul ul {
				margin-left: 10px;
				list-style-position: inside;
			}

			.sidenav li {
				/**/
			}





/*  ==  Front Page Slider  ==  */

.slider {
	width: 100%;
	height: 300px; /* This is overridden by the JS, but we need some room by default */
	position: relative;
	overflow: hidden;
}

	.slider.no-js {
		height: auto;
	}

	.slider .slide {
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		background: #c7e3df;
		background: rgba(199,227,223,0.2);
	}

		.slider.no-js .slide {
			display: none;
			width: 100%;
		}

		.slider.no-js .slide:first-of-type {
			display: block;
		}

		.slider.no-js .slide > img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}

		.slider .slide-content {
			position: absolute;
			top: 22%;
			z-index: 11;
			background: url('../images/slider/text-bg.png');
			background: rgba(0,0,0,0.4);
			max-width: 50%;
			padding: 60px 20px;
		}

		.lt-ie9 .slider .slide-content {
			background: transparent;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); 
			zoom: 1;
		}

			.slider .slide-content a {
				color: #fff;
				font-size: 28px;
				font-weight: bold;
				line-height: 1.3;
			}

				@media only screen and (max-width: 1200px) {
					.slider .slide-content a {
						font-size: 20px;
					}
				}

	.slider .slider-manual-controls {
		list-style: none;
		z-index: 100;
		position: absolute;
		right: 20px;
		bottom: 40px;
		margin: 0;
		padding: 0;
		line-height: 1;
	}

		.slider .slider-manual-controls li {
			cursor: pointer;
			background: #ccc;
			width: 13px;
			height: 13px;
			margin: 5px;
			border-radius: 100%;
			display: inline-block;
			border: 1px #aaa solid;
		}

		.slider .slider-manual-controls li.current {
			background: #fff;
		}





/*  ==  Front Page Content  ==  */
	
.front-page-content {
	margin-top: -50px;
	position: relative;
	z-index: 100;
}
	
	.front-page-boxes > div {
		padding: 15px;
	}

		.front-page-box {
			border: 1px #fff solid;
			box-shadow: 0 0 1px #aaa;
			background: #eee;
			background: radial-gradient(ellipse at bottom, #ffffff 0%, #dddddd 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#ffffffff', GradientType=0);
			height: 250px;
			position: relative;
		}

			.front-page-box h2 {
				color: #808080;
				font-size: 20px;
				font-weight: normal;
				text-align: center;
				margin: 0;
				padding: 10px;
			}

				@media only screen and (max-width: 1200px) {
					.front-page-box h2 {
						font-size: 16px;
					}
				}

			.front-page-box .shadow-border {
				width: 70%;
				height: 3px;
				margin: 2px auto 7px;
				display: block;
			}

			.front-page-box p {
				color: #808080;
				font-size: 15px;
				line-height: 1.3;
				padding: 0 10px;
			}

				@media only screen and (max-width: 1200px) {
					.front-page-box p {
						font-size: 13px;
					}
				}

			.front-page-box .more-button {
				background: #ccc;
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				height: 16px;
			}

				.front-page-box .more-button a {
					display: inline-block;
					background: #fff;
					border-radius: 4px;
					margin-bottom: 0;
				}

				.front-page-box .more-button a:hover {
					background: #eee;
				}

.front-page-lower-content {
	margin-top: 25px;
}
	
	.front-page-lower-content .row {
		margin-bottom: 50px;
	}
	
	.front-page-lower-content .main-content {
		position: relative;
		top: 50px;
	}

.front-page-footer {
	width: 100%;
	height: 30em;
	position: relative;
	z-index: 1;
}

	@media only screen and (min-width: 1701px) {
		.front-page-footer {
			height: 45em;
		}
	}

	@media only screen and (max-width: 1700px) {
		.front-page-footer {
			height: 35em;
		}
	}

	@media only screen and (max-width: 1400px) {
		.front-page-footer {
			height: 30em;
		}
	}

	@media only screen and (max-width: 1200px) {
		.front-page-footer {
			height: 27em;
		}
	}
	
	.front-page-footer img {
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
	}





/*  ==  Other Content  ==  */

.main-content {
	overflow: hidden;
}

.main-content .row {
	margin: 10px 0;
}
	
	.main-content .row .panel {
		height: 100%;
		margin-bottom: 10px;
		border: 0;
		padding: 10px;
		background: #f2f2f2;
		background: rgba(230,230,230,0.4);
	}

.main-content iframe {
	margin: 40px 0;
	min-width: 796px;
}

.main-content h2 {
	color: #1751A3;
	font-size: 28px;
	font-weight: normal;
	margin: 0 0 20px;
}

.main-content h3 {
	color: #666;
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0;
}

.main-content p {
	color: #666;
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 1.25em;
}

.main-content a {
	color: #063;
}

.main-content ul {
	color: #666;
	margin-left: 15px;
	list-style-position: inside;
	padding: 0 10px;
}

.main-content ul.spaced {
	padding: 30px 10px;
}

.small-image {
	margin-bottom: 10px;
	text-align: center;
}
	
	.small-image img {
		max-width: 600px;
	}





/*  ==  Other Content Responsiveness Fixes  ==  */

@media only screen and (min-width: 1701px) {
	.main-content h2 {
		font-size: 30px;
		margin: 0 0 20px;
	}

	.main-content h3 {
		font-size: 16px;
	}

	.main-content p {
		font-size: 16px;
		margin-bottom: 1.05em;
	}

	.main-content li {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1700px) {
	.main-content h2 {
		font-size: 30px;
		margin: 0 0 20px;
	}

	.main-content h3 {
		font-size: 16px;
	}

	.main-content p {
		font-size: 16px;
		margin-bottom: 1.05em;
	}

	.main-content li {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1400px) {
	.main-content h2 {
		font-size: 26px;
		margin: 0 0 10px;
	}

	.main-content h3 {
		font-size: 14px;
	}

	.main-content p {
		font-size: 14px;
		margin-bottom: 1.05em;
	}

	.main-content li {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1200px) {
	.main-content h2 {
		font-size: 16px;
		margin: 0 0 10px;
	}

	.main-content h3 {
		font-size: 13px;
	}

	.main-content p {
		font-size: 13px;
		margin-bottom: 0.65em;
	}

	.main-content li {
		font-size: 13px;
	}
}





/*  ==  Contact Info  ==  */

.contact-info {
	padding: 15px;
	color: #808080;
	font-size: 15px;
	line-height: 1.3;
	position: relative;
	z-index: 500;
}

	@media only screen and (max-width: 1200px) {
		div.contact-info {
			padding: 12px 5px;
		}

		div.contact-info div {
			font-size: 12px;
		}
	}
	
	.contact-info > div {
		padding: 10px;
		border: 2px #aaa solid;
		background: #eee;
		background: radial-gradient(ellipse at center, #ffffff 0%, #eeeeee 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffffffff', GradientType=0);
	}

		.contact-info h2 {
			color: #808080;
			font-size: 20px;
			font-weight: normal;
			text-align: center;
			margin: 0;
			padding: 0;
		}

		.contact-info a {
			color: inherit;
			text-decoration: none;
		}

		.contact-info > div div {
			margin: 10px 0;
		}






















