<h2 class="title">Contact Us</h2>
<div class="errors"></div>
<form>
	<div class="info">
		<label>
			<span class="label">Name</span>
			<input type="text" class="name" placeholder="ex. Joe Bob" />
		</label>
		<label>
			<span class="label">Email</span>
			<input type="email" class="email" placeholder="ex. joebob@example.com" />
		</label>
		<label>
			<span class="label">Company <small>(if applicable)</small></span>
			<input type="text" class="company" placeholder="ex. Joe Bob's Awesome Shop" />
		</label>
		<label>
			<span class="label">Company Website <small>(if applicable)</small></span>
			<input type="text" class="company-website" placeholder="ex. www.joebobsawesomeshop.com" />
		</label>
	</div>
	<div class="message">
		<label>
			<span class="label">Message</span>
			<textarea class="message"></textarea>
		</label>
		<button class="submit">Send Message</button>
		<div class="progress-wrapper"></div>
	</div>
</form>