<h3>{{ name }}</h3>
<p>
	{{ description }}
</p>
<div class="career-more">
	<h4>Requirements</h4>
	<ul class="career-requirements">
		{{#each requirements }}
			<li>{{{ this }}}</li>
		{{/each}}
	</ul>
	<h4>What We're Offering</h4>
	<ul class="career-offerings">
		{{#each offered }}
			<li>{{{ this }}}</li>
		{{/each}}
	</ul>
</div>