<div class="content-section">
	<div class="row">
		<h3>Careers</h3>
		<p>
			At Umbra, we are currently looking to expand. If you have skills and are interested in working with
			us, take a look below at the positions we are looking to fill. If you would like to apply for one of
			these positions, please <a href="/contact">contact us</a> with some info about yourself and links to
			any relevant websites (like a GitHub, LinkedIn, etc.)
		</p>
	</div>
	<div class="row">
		<ul class="careers-openings">
			{{#each openings}}
			<li>
				<a href="/careers/{{ this.slug }}">{{ this.name }}</a>
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="row careers-current"></div>
</div>
