<div class="content-section">
	<div class="row">
		<h3>Welcome</h3>
		<p>
			Umbra Engineering is a web application development shop in Portland Oregon specializing in JavaScript, both on the client
			and on the server in the form of <a href="http://nodejs.org" rel="external">Node.js</a>. Not only do we work for our clients,
			but we also work on a number of <a href="/open-source">open source projects</a>.
		</p>
	</div>
</div>
<!--
<div class="content-section darker-1">
	<div class="row">
		<h3>Clients</h3>
		<p>
			Umbra has done work for a number of clients right here in the Portland, OR area. We are no strangers
			to the world of startups and aren't affraid to take on risky jobs and help you build your company. At
			the same time, we are also glad to work for those who already have there footing and are looking to
			keep moving forward.
		</p>
		<div id="clients">
			<div class="row">
				<div class="four columns">
					<a href="https://www.sportzing.com" class="client" rel="external">
						<img src="/images/szlogo-mono.png" alt="SportZing" title="" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
-->

