<div class="content-section">
	<div class="row">
		<h3>Open Source</h3>
		<p>
			Here at Umbra Engineering, we develop a number of open source works which can be found on our
			<a href="https://github.com/UmbraEngineering" rel="external">GitHub</a> profile. Most of the projects there are
			small Node modules.
		</p>
	</div>
</div>
<!--
<div class="content-section darker-1">
	<div class="row">
		<p>
			One of our biggest open source projects is an application framework called
			<a href="https://github.com/UmbraEngineering/redis-nodes">redis-nodes</a>. It allows you to create an
			application containing several individual processes that communicate with each other using redis
			pub/sub. It assumes very little about your application allowing you to make any kind of project using
			it. This is not a web-app framework like Connect or Express, but you can run one of those (or any other
			similar framework) inside of one your redis-nodes processes.
		</p>
	</div>
</div>
-->
