<div class="content-section">
	<div class="row">
		<h3>Open Source</h3>
		<p>
			Here at Umbra Engineering, we develop a number of <a href="https://github.com/UmbraEngineering" rel="external">open source
			works</a> which we host on GitHub. Most of these projects are small Node.js modules that we have developed for previous
			projects that we release open source for the public to use. Some of these project repositories can be previewed below.
		</p>
	</div>
	<div class="row">
		<div class="github-repos"></div>
	</div>
</div>
{{! <div class="content-section darker-1">
	<div class="row">
		<p>
			One of our biggest open source projects is a client-side MVC framework called <a href="https://github.com/UmbraEngineering/cloak"
			rel="external">Cloak</a>.
		</p>
	</div>
</div> }}