<div class="content-section">
	<div class="row">
		<h3>Portfolio</h3>
		<p>
			We have worked for a number of small companies here in Portland Oregon and enjoy helping these local
			businesses move forward.
		</p>
	</div>
</div>
