<div class="content-section">
	<div class="row">
		<h3>Services</h3>
		<p>
			We supply services in web application development using the Node.js platform.
		</p>
	</div>
</div>
<div class="content-section darker-1">
	<div class="row">
		<h3>Have a Job For Us?</h3>
		<p>
			If you would like to get in contact with us to talk about a job and get a quote, please go to
			the <a href="/contact">contact</a> page and send us a message.
		</p>
	</div>
</div>
