<h2 class="title">Professional Web Application Development</h2>
<p>
	Umbra Engineering is a dev shop in Portland Oregon specializing in JavaScript development in <a href="/services">several different
	environments</a>. We work on several different types of projects, from big corperate jobs to local small businesses and non-profits,
	as well as a large amount of <a href="/open-source">open source</a> work.
</p>
<p>
	Take a look around, and feel free to <a href="/contact">contact us</a> if you would like more information about something, or if you
	would like to talk about working together. We would love to hear about your project.
</p>