<h2 class="title">We provide several different services ...</h2>
<p>
	While we specialize in JavaScript development, there is actually a bit of variety in what we can do with that skill. 
</p>
<ul class="services">
	<li class="service">
		<h3>Web Application Development</h3>
		<p>
			We use a full JavaScript stack to build web applications, including Node.js and MongoDB for writing API servers, often using our
			own <a href="http://www.daggerjs.com">dagger.js</a> API framework. We also make use <a href="http://www.cloakjs.com">cloak.js</a>,
			dagger's sister project, for front-end development.
		</p>
	</li>
	<li class="service">
		<h3>Website Development</h3>
		<p>
			Our front-end skills also work for the creation of more simple projects, including making websites for our clients. Need a personal
			portfolio? Or a site for your business? We can build you a great, clean looking site that people will love to visit.
		</p>
	</li>
	<li class="service">
		<h3>Desktop Application Development</h3>
		<p>
			Using <a href="http://nwjs.io/">nw.js (previously node-webkit)</a>, we can build you a cross-platform desktop application
			with all the same tools we use to build web apps. Whether you need an internal tool for your own business, are looking
			to release a product to the public, or want an app to run in a kiosk in your shop, we've got you covered.
		</p>
	</li>
</ul>
<p>
	In addition, we are also willing to provide special deals for local small businesses here in Portland, as well as for
	non-profits. We will work with you to come to an arrangement that works for everyone.
</p>