<h2>We provide several different services ...</h2>
<ul class="services">
	<li class="service">
		<h3>Web Application Development</h3>
		<p>
			We use a full JavaScript stack to build web applications, including Node.js and MongoDB for writing API servers, often using our
			own <a href="http://www.daggerjs.com">dagger.js</a> API framework. We also make use <a href="http://www.cloakjs.com">cloak.js</a>,
			dagger's sister project, for front-end development.
		</p>
	</li>
	<li class="service">
		<h3>Website Development</h3>
		<p>
			Our front-end skills also work for the creation of more simple projects, including making websites for our clients.
		</p>
	</li>
	<li class="service">
		<h3>Desktop Application Development</h3>
		<p>
			Using <a href="https://github.com/rogerwang/node-webkit">node-webkit</a>, we can build you a cross-platform desktop application
			with all the same tools we use to build web apps.
		</p>
	</li>
</ul>
<p>
	In addition, we also provide special deals for <a href="/services/local">local small businesses</a> here in Portland, as well as for
	<a href="/services/nonprofit">non-profits</a>. We're willing to work with you to come to an arrangement that works for everyone.
</p>